body {
    margin: 0;
    padding: 0;
  }

  #note {
    display: flex;
  }

  #menu {
    width: 20%;
    height: 100vh;
    border-right: solid 1px #e6e6e6;
    padding: 20px;
  }

  #content {
    width: 100%;
    height: 100vh;
    padding: 20px;
  }

  #menu .date {
    color: #808080;
    font-weight: 500
    ;
  }

  #menu .titre {
    margin-top: 6%;
    margin-left: 8%;
    font-weight: 800;
  }

  #menu .jour {
    margin-top: 2%;
    margin-left: 8%;
  }

  #menu .jour span {
    margin-left: 8%;
    color: #c6c6c6;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 1%;
  }

  p {
    margin-left: 1%;
  }

.note {
    background-color: #fee490;
    padding-bottom: 12px;
    padding-top: 1px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 4%;
}


.container3 {

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.container3 ul {
display: inline-block;
list-style: none;
margin: 0;
padding: 0;
}

.container3 li {
display: inline-block;
margin-right: 10px;
}

.container3 p {
  display: inline; 
  margin-left: 1%;
}


.container3 .horloge{
  display: inline; 
}

.container3 .heures{
font-family: 'Orbitron', sans-serif;
display: inline; 
}

.container3 .date{
font-family: 'Nunito Sans', sans-serif;
padding-top: 10px;
display: inline; 
}

.container3 .info {
color: #FFFFFF;
text-align: right;
margin-right: 0.4rem;
padding-top: 0.4rem;
}


.container3 i {
  margin-right: 8px;
}

.rectangle {
  width  : 100%;
  height : 26px;
  background : #304661;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: normal;
  align-content: normal;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  padding-top: 0.3rem;
}

.accueil i{
  color: #FFFFFF;
  font-size: 16px;
}

.accueil li a {
  color: #fff;
  text-decoration: none;
}

.accueil {
  padding-top: 0.2rem;
  margin-left: 10px;
}

.accueil li ul {
  display:inline;
}

.container3 li {
  list-style: none;
}

.accueil ul {
  color: #FFFFFF;
  margin-right: 15px;
}

.info {
  color: #FFFFFF;
  text-align: right;
  margin-right: 0.4rem;
  display: inline; 
  }




@media screen and (max-width: 767px) {
  /* Ajoutez les styles pour les appareils mobiles ici */
  .container3 {
    font-size: 14px;
  }

  .info {
    display: none;
  }

  #menu {
    width: 40%;
    height: 100vh;
    border-right: solid 1px #e6e6e6;
    padding: 20px;
  }

  #content {
    width: 100%;
    height: 100vh;
    padding: 20px;
  }

  #menu .date {
    color: #808080;
    font-weight: 500
    ;
  }

  #menu .titre {
    margin-top: 6%;
    margin-left: 8%;
    font-weight: 800;
    font-size: 14px;
  }

  #menu .jour {
    margin-top: 2%;
    margin-left: 8%;
    font-size: 14px;
  }

  #menu .jour span {
    margin-left: 8%;
    color: #c6c6c6;
  }

  h1 {
    font-size: 22px;
    margin-bottom: 1%;
  }

  p {
    margin-left: 1%;
  }

.note {
    background-color: #fee490;
    padding-bottom: 12px;
    padding-top: 1px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 4%;
}

#content p {
  font-size: 14x;
}
}
